<li class="layer {{#if raster}}raster-layer{{else}}vector-layer{{/if}}" index="{{ index }}">
    <input class="layer-checkbox" type="checkbox" class="layer-checkbox">
    <span class="layer-name">{{name}}</span>
    {{#if raster}}<span class="layer-type-marker raster">ⓡ</span>
    {{else}}<span class="layer-type-marker vector" style="color: {{color}}; text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff">ⓥ</span>
    {{/if}}
</li>
