<div class="filter">
    <h4>Filter by date</h4>
    <div class="inputs">
        <div style="padding-bottom: 70px;">
            <div index="{{index}}" id="timeline"></div>
        </div>
        <span>
            <input type="number" index="{{index}}" class="input" id="start-date">
            <span style="padding: 10px;">to</span>
            <input type="number" index="{{index}}" class="input" id="end-date">
        </span>
        <script>
            (function(undefined) {
                var slider = $('#timeline')[0];
                var fields = [$('#start-date')[0], $('#end-date')[0]];

                noUiSlider.create(slider, {
                    start: [-1000, 2015],
                    step: 1,
                    margin: 1,
                    connect: true,
                    direction: 'ltr',
                    orientation: 'horizontal',
                    behaviour: 'drag-tap',
                    range: {
                        min: -1000,
                        max: 2015,
                    },
                    pips: {
                        mode: 'values',
                        density: 3,
                        values: [-1000, 0, 500, 1000, 1500, 2000],
                        format: wNumb({
                            decimals: 0,
                            negative: 'BCE ',
                        }),
                    },
                });

                slider.noUiSlider.on('update', function(values, handle) {
                    fields[0].value = Math.floor(values[0]);
                    fields[1].value = Math.floor(values[1]);
                    $('button[type="submit"]').click();
                });

                $(fields).change(function(event) {
                    if (event.target.value === '') return;
                    var handle = 0;
                    if (event.target.id === 'end-date') handle = 1;
                    var array = [null, null];
                    array[handle] = event.target.value;
                    slider.noUiSlider.set(array);
                });

                fields[0].value = '';
                fields[1].value = '';

            })()
        </script>
    </div>
    <div class="subtypes">
        {{#each subtypes}}
            <div>
                <input type="checkbox" index="{{index}}" class="subtype" subtype="{{name}}" checked="checked">
                <span>{{displayName}}<span>
            </div>
        {{/each}}
    </div>
</div>
