<div class="filter">
    <h4>Filter by date</h4>
    <div class="inputs">
        <div style="">Find features with dates from</div>
        <br>
        <div>
            <input type="range" min={{oldestDate}} max={{newestDate}} value={{oldestDate}} index="{{index}}" class="matching-date-slider-0" oninput="updateLinked(value, 'matching-date-box-0')">
            <input type="text" class="input matching-date-box-0" value="" size="5" oninput="updateLinked(value, 'matching-date-slider-0')">
            <span style="margin: 1em;">until</span>
            <input type="range" min={{oldestDate}} max={{newestDate}} value={{newestDate}} index="{{index}}" class="matching-date-slider-1" oninput="updateLinked(value, 'matching-date-box-1')">
            <input type="text" class="input matching-date-box-1" value="" size="5" oninput="updateLinked(value, 'matching-date-slider-1')">
        </div>
        <script>
            function updateLinked(date, identifier) {
                if (date === '') date = null;
                $('.' + identifier)[0].value = date;
            };
        </script>
    </div>
    <div class="subtypes">
        {{#each subtypes}}
            <div>
                <input type="checkbox" index="{{index}}" class="subtype" subtype="{{name}}" checked="checked">
                <span>{{displayName}}<span>
            </div>
        {{/each}}
    </div>
</div>
