<div class="filter">
    <h4>Filter by type</h4>
    <div class="inputs">
        <select index="{{index}}" class="input">
            <option value="" selected></option>
            {{#each types}}
                <option value="{{@key}}">{{@key}} ({{this}})</option>
            {{/each}}
        </select>
    </div>
    <div class="subtypes">
        {{#each subtypes}}
            <div>
                <input type="checkbox" index="{{index}}" class="subtype" subtype="{{name}}" checked="checked">
                <span>{{displayName}}<span>
            </div>
        {{/each}}
    </div>
</div>
